<script setup>
import { ref, computed, watch, reactive } from 'vue'
import api from '@/services/api'

import Listbox from 'primevue/listbox';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import SelectButton from 'primevue/selectbutton';
import Message from 'primevue/message';
import Badge from 'primevue/badge';

const options = ref(['AND', 'OR', 'THEN'])
const mnoAttributes = ref([])
const allAttributes = ref([])

const currentExpression = ref({expression: "", valid: false})
const attributeValidityStatus = ref({})

const selectedAttributes = ref([])

const audienceSelections = ref([])

const handleAttributeSelection = (val) => {
  const expressions = val.map((attribute, index) => {
    const existingAud = audienceSelections.value.find(aud => aud.val == attribute)
    
    let operator = 'AND'
    if (existingAud) {
      console.log('Existing aud', existingAud)
      operator = existingAud.operator
    } else if (index == 0) {
      operator = null
    }

    return {
      idx: index,
      operator: operator,
      val: attribute
    }
  })

  audienceSelections.value = expressions
}

watch(audienceSelections, async (newValue, oldValue) => {
  ValidateAudience(newValue)
}, { deep: true })

const GetMNOAttributes = async () => {
  const resp = await api.getMnoAttributes()
  mnoAttributes.value = resp.data
}

const GetAllAttributes = async () => {
  const resp = await api.getAllAttributes()
  allAttributes.value = resp.data
}

const ValidateAudience = async (data) => {
  const resp = await api.validateAudience(data)

  currentExpression.value = resp.data.currentExpression
  attributeValidityStatus.value = resp.data.attributeStatus
}

// const GetAttributeValidity = (attribute)

GetMNOAttributes()
GetAllAttributes()
</script>

<template>
  <main>
    <div class="table-container">
      <DataTable :value="mnoAttributes" showGridlines tableStyle="min-width: 50rem">
        <Column field="telco" header="Telco"></Column>
        <Column field="attributes" header="Attributes"></Column>
      </DataTable>
    </div>

    <div class="content-container">
      <div class="listbox-container">
        <Listbox v-model="selectedAttributes" @update:modelValue="handleAttributeSelection" :options="allAttributes" multiple class="w-full md:w-56">
          <template #option="slotProps">
            <div class="flex items-center">
              {{ slotProps.option }}
              <Badge v-if="attributeValidityStatus[slotProps.option] === false" v-tooltip.right="'Using this attribute might result in an impossible audience.'" value="!" size="small" severity="warn"></Badge>
            </div>
          </template>
        </Listbox>
      </div>
      <div class="audience-container">
        <div v-for="audience in audienceSelections" :key="audience.idx" class="audience-row">
          <div class="select-button-container">
            <SelectButton v-if="audience.operator != null" v-model="audience.operator" :options="options" aria-labelledby="basic" />
          </div>
          <div class="audience-val">
            {{ audience.val }}
          </div>
        </div>
      </div>
      <div class="expression-container">
        <Message v-if="currentExpression.expression.length > 0" :severity="currentExpression.valid ? 'success': 'error' ">
        {{ currentExpression.expression }}
      </Message>
      </div>
    </div>
  </main>
</template>

<style>
main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.table-container {
  width: 100%;
  margin-bottom: 1rem;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.listbox-container {
  flex: 1;
}

.audience-container {
  flex: 1.5;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.audience-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.select-button-container {
  flex: 1.5;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.audience-val {
  font-weight: bold;
  font-size: 1rem;
  flex: 2;
}

.expression-container {
  flex: 1;
}
</style>